//Common style

@import "../utils/mixins";
@import "../utils/vars";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 14px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 14px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 13px;
  }
}

body {
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 300px;
  margin: 0;
  padding: 0;
  position: relative;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section, .section {
  position: relative;
  padding: rem(20) 0;
  @media screen and (max-width: $desktopWidth) {
    padding: rem(15) 0;
  }
  @media screen and (max-width: $tableWidth) {
    padding: rem(13) 0;
  }
  @media screen and (max-width: $phoneWidth) {
    padding: rem(10) 0;
  }
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  margin: 0 auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $tableWidth;
  margin: 0 auto;
  @media screen and (max-width: $phoneWidth){
    max-width: $smPhoneWidth;
  }
}


//helper classes
.hide {
  display: none;
}

.opacity {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
}

.show {
  display: block;
}

.hide-access {
  pointer-events: none;
}