//Footer style
@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/vars";

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: $primary-color;
  text-align: center;
  padding: rem(15);
}

.footer-thanks {
  @include fontMontserrat(400, normal);
  @include font-size(16);
}