//Header style
@import "../utils/mixins";
@import "../utils/fonts";
@import "../utils/vars";

header {
  background-color: $primary-color;
  box-shadow: 2px 13px 17px -14px rgba(0,0,0,0.5);
}
.header-wrapper {
  @include flexRow(space-between, center);
  padding: 0 rem(80);
}
.header-title {
  @include fontChina(400, normal);
  @include fontSize(50);
}

