@function  rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

//size(100%, 80%), size(100%)
@mixin size($width,$height: $width) {
  width: $width;
  height: $height;
}

@mixin  placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder {@content}
  ::-moz-placeholder {@content}
  :-ms-input-placeholder {@content}
}

@mixin fontSize($sizeValue, $line: $sizeValue * 1.5) {
  font-size: ($sizeValue / $standardFontSize) * 1rem;
  line-height: ($sizeValue * 1.5) /$standardFontSize * 1rem;
}

@mixin flexRow($horizontal, $vertical) {
  display: flex;
  justify-content: $horizontal;
  flex-wrap: wrap;
  align-items: $vertical;
}

@mixin calcCol($count, $margin) {
  width: calc(#{(100 / $count) + unquote("%")} - #{$margin / 2});
}

@mixin verticalAlign() {
  top: 50%;
  transform: translateY(-50%);
}